<html>
<head>
	<title> Username and Password</title>
</head>
<body>


<lb>
<lb>

	<h1>Username & Pass</h1>

<form action="/login" method="POST">

	<input type="email" name="email" placeholder="email!!!!!"> +
	<input type="password" name="password" placeholder="PASSWORDDDDDD!!!!">
	
	<button type="submit">Submit</button>

</form>

<br>
<br>


</body>
</html>



